@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

body {
    @apply bg-gray-900 text-gray-100;
    -webkit-font-smoothing: antialiased;
    
}


::-webkit-scrollbar {
  overflow: overlay;
  width: 10px;
  
}
::-webkit-scrollbar-track {
  display: initial;
}

::-webkit-scrollbar-thumb {
  background-color: #242c37;
  border-radius: 5px;
}